<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @avg_rating_products.each_with_index do |product, index| %>
          <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @avg_rating_products.each_with_index do |product, index| %>
          <div class="item <%= index == 0 ? 'active' : '' %>">
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <%= image_tag product.images.first.attachment.url(:large), class: "img-responsive img-carousel"%>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <h1><%= link_to product.name, spree.product_path(product) %> </h1>
                <h3><%= product.description %></h3>

                <span title="<%= pluralize(product.avg_rating, 'star') %> <%= Spree.t(:out_of_5) %>">
                  <%= render 'spree/reviews/stars', stars: product.avg_rating %>
                </span>

                <div class="panel-footer text-center">
        <span itemprop="offers" itemscope itemtype="https://schema.org/Offer">
          <span class="price selling lead" itemprop="price" content="<%= (product.price_in(current_currency).amount.nil?)? 0 : product.price_in(current_currency).amount.to_d %>">
            <%= display_price(product) %>
          </span>
          <span itemprop="priceCurrency" content="<%= current_currency %>"></span>
        </span>
        </div>
                
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>